{% extends "base.html" %}

{% block title %}
All Civic Issues
{% endblock %}

{% block content %}
<h2>Civic Issues List</h2>

{% for issue in issues %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <h3>
            {{ issue.title }}
            {% if issue.is_emergency %}
                <span style="color:red;">🚨 Emergency</span>
            {% endif %}
        </h3>

        <p><b>Category:</b> {{ issue.category.name }}</p>
        <p><b>Location:</b> {{ issue.location }}</p>
        <p><b>Status:</b> {{ issue.get_status_display }}</p>
        <p><b>Reported by:</b> {{ issue.created_by.username }}</p>
        <p><b>Posted on:</b> {{ issue.created_at }}</p>

        {% if user.profile.role > 1 %}
			<p><b>Assigned to:</b> {{ issue.assigned_to }}</p>

            <a href="{% url 'update_issue' issue.id %}">Update Status</a>
        {% endif %}

        {% if user.profile.role == 3 %}
            | <a href="{% url 'assign_issue' issue.id %}">Assign Issue</a>
        {% endif %}

		<p>
			⭐ {{ issue.upvote_count }} upvotes
		</p>
		
		<form method="post" action="{% url 'upvote_issue' issue.id %}">
			{% csrf_token %}
			<button type="submit">Upvote</button>
		</form>
    </div>
{% empty %}
    <p>No issues reported yet.</p>
{% endfor %}
{% endblock %}
