<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Dashboard</title>
</head>
<body>

    <h2>Citizen Dashboard</h2>
	<nav>
        <a href="/dashboard/citizen/">Dashboard</a> | 
        <a href="/issues/raise/">Raise Issue</a> | 
        <a href="/issues/">Issue List</a> | 

        <!-- Logout must be POST -->
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>

</body>
</html>
